 
.bloodbank {
    width: 1000px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
.xyz{
    width: 955px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}
.xyz > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #ff0123;
    margin-left: 1px;
    /* margin: 0.5rem 0; */
    padding: 0.5rem 0.75rem;
    width:40%;
    font-size: 1rem;
}
.xyz-1{
    width: 955px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
}   

.xyz > .button {
    background: #da021e;
    border: 1px solid #da021e;
    width:20%;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: 680px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.p{
    background: #da021e;
    border: 1px solid #da021e;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

table {
    margin-left: -13px;
    width: 900px;
    height: 100px;
    border-collapse: collapse;
  }
  
  th {
    background: #B40404;
    color:aliceblue;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid black;
    border: 2px solid black;
  }
  
  td {
    text-align: center;
    border: 2px solid black;
  }

